body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    margin-left: 30px;
 }

.mainContainer {
    display:flex;
    align-self:flex-start;
    flex-direction: column;
    background: rgba(255, 72, 176,20%);
    height: 500px;
    width: 340px;
    margin: 0;
    border-style: solid;
    border: 2px solid rgba(61, 85, 136, 10%);
    border-color: rgba(255, 72, 176,5%);
  }

#content{
    display:flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 90%;
    /* margin: 10px 0; */
}

#display{
    display: flex;
    flex-direction: column;
    background: white;
    border: solid rgba(255, 72, 176,10%);
    height: 70px;
    width: 100%;
    justify-content: center;
    align-self: center;
    margin: 10px;
}
.currentNumber{
    /* display: flex; */
    align-self: flex-end;
    color:rgba(61, 85, 136, 100%);
    font-size: 36px;
    display: block;
    width: 100%;
    text-align: right;
}
.currentExpression{
    color:rgba(61, 85, 136, 100%);
    font-size: 18px;
    display: block;
    width: 100%;
    text-align: right;
}

#buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:stretch;
    font-size: 0;
}


button{
    background: rgba(61, 85, 136, 25%);
    border: 2px solid rgba(61, 85, 136, 4%);
    /* border: 2px solid rgba(255, 72, 176, 10%); // blue border */
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    height: 70px;
    width: 70px;
    margin: 5px 0;
    font-size: large;
    padding:0;
    color:rgba(61, 85, 136, 100%)
}
